<form style="display: inline-block;" class="forma1">
  <table class="vrh">
    <tr>
      <td class="ttt">
        <img src="assets/img/logo.png" class="logo">
      </td>
      <td class="b">
        <select onchange="location = this.value;">
          <option value="" disabled selected>Dropdown link</option>
          <option value="https://www.facebook.com/">Facebook</option>
          <option value="https://www.apple.com/">Apple</option>
          <option value="https://www.nationalgeographic.com/">National Geographic</option>
        </select>
      </td>
      <td class="b">
        <p><a href="https://www.youtube.com/" target="_blank">Youtube</a>.</p>
      </td>
      <td class="b">
        <a href="https://stackoverflow.com/" target="_blank">Stackoverflow</a>
      </td>
      <td class="b">
        <a href="https://www.google.rs/" target="_blank">Google</a>
      </td>

    </tr>

  </table>

  <img src="assets/img/cover.png" class="centerpic">
</form>



<br><br><br>




<form style="display: inline-block;" class="headings">
  <div id="container1">
    <div class="end" style="background-color:maroon;">
      <table style="width: 100%;">
        <tr>
          <td style="text-align: center;" class="ttt">
            <h4 style="color: white;">Heading4</h4>
          </td>
        </tr>
        <tr>
          <td style="align-items: center; margin: 0 auto; text-align: center;" class="ttt">
            <input style="background-color: blue;" type="submit" class="dugme2" value="SELECT">
          </td>
        </tr>
      </table>
    </div>
    <div class="div1"></div>
    <div style="background-color: #585858;" class="div1">
      <table style="width: 100%;">
        <tr>
          <td style="text-align: center;" class="ttt">
            <h4 style="color: white;">Heading4</h4>
          </td>
        </tr>
        <tr>
          <td style="align-items: center; margin: 0 auto; text-align: center;" class="ttt">
            <input style="background-color: blue;" type="submit" class="dugme2" value="SELECT">
          </td>
        </tr>
      </table>
    </div>
    <div class="div1"></div>
    <div style="background-color: #FFB319;" class="div1">
      <table style="width: 100%;">
        <tr>
          <td style="text-align: center;" class="ttt">
            <h4 style="color: white;">Heading4</h4>
          </td>
        </tr>
        <tr>
          <td style="align-items: center; margin: 0 auto; text-align: center;" class="ttt">
            <input style="background-color: blue;" type="submit" class="dugme2" value="SELECT">
          </td>
        </tr>
      </table>
    </div>
  </div>
</form>




<div>
  <table class="center">

    <h1>Heading1</h1>

    <tr class="h">
      <td class="h" rowspan="2"><b>COLUMN1</b></td>
      <td class="h" rowspan="2"><b>COLUMN2</b></td>
      <td class="h" rowspan="2"><b>COLUMN3</b></td>
      <td class="h" colspan="3"><b>COLUMN GROUP</b></td>
    </tr>

    <tr class="h">
      <td class="h"><b>COLUMN4</b></td>
      <td class="h"><b>COLUMN5</b></td>
      <td class="h"><b>COLUMN6</b></td>
    </tr>

    <tr>
      <td>Value</td>
      <td>Value</td>
      <td>Value</td>
      <td>Value</td>
      <td>Value</td>
      <td>Value</td>
    </tr>
    <tr>
      <td>Value</td>
      <td>Value</td>
      <td>Value</td>
      <td>Value</td>
      <td>Value</td>
      <td>Value</td>
    </tr>
    <tr>
      <td>Value</td>
      <td>Value</td>
      <td>Value</td>
      <td>Value</td>
      <td>Value</td>
      <td>Value</td>
    </tr>
    <tr>
      <td>Value</td>
      <td>Value</td>
      <td>Value</td>
      <td>Value</td>
      <td>Value</td>
      <td>Value</td>
    </tr>
    <tr>
      <td>Value</td>
      <td>Value</td>
      <td>Value</td>
      <td>Value</td>
      <td>Value</td>
      <td>Value</td>
    </tr>
    <tr>
      <td>Value</td>
      <td>Value</td>
      <td>Value</td>
      <td>Value</td>
      <td>Value</td>
      <td>Value</td>
    </tr>
    <tr>
      <td>Value</td>
      <td>Value</td>
      <td>Value</td>
      <td>Value</td>
      <td>Value</td>
      <td>Value</td>
    </tr>

    <tr>
      <td>Value</td>
      <td>Value</td>
      <td>Value</td>
      <td>Value</td>
      <td>Value</td>
      <td>Value</td>
    </tr>


    <tr>
      <td colspan="3" style="text-align:right;"><b>Total:</b></td>
      <td>Value</td>
      <td>Value</td>
      <td>Value</td>
    </tr>


  </table>
</div>

<img src="assets/img/slika.png" class="slika1" width="300" height="300">

<div class="tekst">
  <div id="gallery-text">
    <div class="gallery-text">
      <h3>Headline3</h3>

      There are many variations of passages of Lorem Ipsum available, but the majority have <br>
      suffered alteration in some form, by injected humour, or randomised words which don't <br>
      look even slightly believable. If you are going to use a passage of Lorem Ipsum, you <br>
      need to be sure there isn't anything embarrassing hidden in the middle of text. All the <br>
      Lorem Ipsum generators on the Internet tend to repeat predefined chunks as <br>
      necessary, making this the first true generator on the Internet. It uses a dictionary of <br>
      over 200 Latin words, combined with a handful of model sentence structures, to <br>
      generate Lorem Ipsum which looks reasonable. <span><b>The generated Lorem Ipsum is <br>
          therefore always free from repetition, injected humour, or non-characteristic <br>
          words etc.</b></span>

    </div>
    <div class="gallery-text">
      <h3>Headline3</h3>
      It is a long established fact that a reader will be distracted by the readable content of a<br>
      page when looking at its layout. The point of using Lorem Ipsum is that it has a more-<br>
      or-less normal distribution of letters, as opposed to using 'Content here, content here',<br>
      making it look like readable English. <i>Many desktop publishing packages and web page</i><br>
      <i>editors now use Lorem Ipsum as their default model text, and a search for 'lorem</i><br>
      <i>ipsum' will uncover many web sites still in their infancy</i>. Various versions have evolved<br>
      over the years, sometimes by accident, sometimes on purpose (injected humour and<br>
      the like).
    </div>
  </div>

</div>

<form style="display: inline-block;" (ngSubmit)="mojaforma.form.valid && upisi()" #mojaforma='ngForm' class="form4">

  <table class="head4">
    <tr>
      <td class="b1">
        <h4>Headline4</h4>
      </td>
    </tr>
    <tr>
      <td class="b1">
        Contant us if u have any question.
      </td>
    </tr>
    <tr>
      <td class="b1">
        Subject
      </td>
    </tr>

    <tr>
      <td class="b1">
        <input type="text" name="subject" class="text" style="width: 100%; height: 30px;" [(ngModel)]='contact.subject'
          #subject='ngModel' required>
      </td>
    </tr>
    <tr *ngIf="mojaforma.submitted && subject.invalid" class="greska">
      Morate uneti subject
    </tr>

    <tr>
      <td class="b1">
        Email address*
      </td>
    </tr>

    <tr>
      <td class="b1">
        <input type="text" class="text" name="address" placeholder="name@example.com" style="width: 100%; height: 30px;"
          [(ngModel)]='contact.address' #address='ngModel' required>
      </td>
    </tr>
    <tr *ngIf="mojaforma.submitted && address.invalid" class="greska">
      Morate uneti Email
    </tr>
    <tr>
      <td class="b1">
        Example textarea
      </td>
    </tr>

    <tr>
      <td class="b1">
        <textarea style="width: 100%; height: 100px;" name="textarea" [(ngModel)]='contact.textarea' #textarea='ngModel'
          required></textarea>
      </td>
    </tr>
    <tr *ngIf="mojaforma.submitted && textarea.invalid" class="greska">
      Unesite zeljenu poruku
    </tr>


    <tr>
      <td class="b3">
        <input type="submit" class="dugme1" value="SEND">
      </td>
    </tr>

  </table>
</form>

<br><br><br>


<form style="display: inline-block;" class="form5">
  <div id="container">
    <div class="div1">

      <img src="assets/img/logo.png" class="logo2">

    </div>

    <div class="end">
      <table class="Lorem" width="80%" style=" text-align:center">
        <tr>
          <td class="ttt"><span style="color: white;">LOREM IPSUM</span></td>
        </tr>
        <tr>
          <td class="ttt"><span style="color: white;">Lorem Ipsum Dolor Sit</span></td>
        </tr>
        <tr>
          <td class="ttt"><span style="color: white;">Lorem Ipsum Dolor Sit</span></td>
        </tr>
        <tr>
          <td class="ttt"><span style="color: white;">Amet</span></td>
        </tr>
      </table>
    </div>



    <div class="end">
      <table class="Subscribe" width="80%" style="text-align:center">
        <tr>
          <td class="ttt"><span style="color: white;">SUBSCRIBE FOR NEWSLETTER</span></td>
        </tr>
        <tr>
          <td class="b1">
            <input type="text" class="text" style="width: 100%; height: 30px;" placeholder="name@example.com" required>
          </td>
        </tr>
        <tr>
          <td class="b3" style="align-items: right;">
            <input type="submit" class="dugme2" value="SUBSCRIBE">
          </td>
        </tr>

      </table>
    </div>


    <div class="slovo">
      <table class="Subscribe" style="text-align:left">
        <tr>
          <td class="ttt" style="text-align: center; border-radius: 20px; background-color: white;"><span
              style="font-size: 80px; color:#585858 ;">B</span></td>
          <td class="ttt" style="background-color: #585858;"></td>
          <td class="ttt" style="background-color: #585858;"></td>
          <td class="ttt" style="background-color: #585858;"></td>
        </tr>
      </table>
    </div>
  </div>
</form>