<table>
    <tr>
        <td>Korisnicko ime:</td>
        <td>
            <input type="text" name="korisnicko" [(ngModel)] = "korisnicko">
        </td>
    </tr>
    <tr>
        <td>Lozinka</td>
        <td>
            <input type="password" name="lozinka" [(ngModel)] = "lozinka">
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <button (click) = "login()">Login</button>
        </td> 
    </tr>
</table>

<span class="greska">{{poruka}}</span>
<br/>

<span *ngIf="greska"> <a routerLink="registracija">REGISTRACIJA</a> </span>
